.App {
  text-align: center;
}

.app-header {
  background-color: #a8e8f9;
  color: #023047;
}

.app-sider {
  background-color: #023E8A;
  color: white;
  font-weight: bold;
}

.app-content {
  background-color: white;
  color: #023047;
}

.add-todo-button {
  color: #0077B6;
  border-color: #0077B6;
}

.save-todo-button {
  margin-right: 1em;
  background-color: #023e8a;
  border-color: #023e8a;
}
