.App {
  text-align: center;
}

.app-header {
  background-color: #a8e8f9;
  color: #023e8a;
  font-size: 2em;
  font-weight: bold;
}

.app-sider {
  background-color: #023e8a;
  color: white;
  font-weight: bold;
}

.app-content {
  background-color: white;
  color: #023047;
}

.app-footer {
  background-color: #fde9c3;
  color: #fb8500;
  font-weight: bold;
}

.app-footer a {
  color: #023e8a;
}

.add-todo-button {
  color: #0077b6;
  border-color: #0077b6;
}

.save-todo-button {
  margin-right: 1em;
  background-color: #023e8a;
  border-color: #023e8a;
}
